{% extends 'base.html' %}

{% block title %}
Metals
{% endblock %}

{% block body %}
    <section class="u-align-center u-clearfix u-section-1" id="carousel_d8af">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-expanded-width u-table u-table-responsive u-table-1">
		<span style="color:red">{{ mess }}</span>
        </div>
      </div>
    </section>
    
 {% endblock %}