{% extends 'base.html' %}

{% block title %}
Metals
{% endblock %}

{% block body %}
    <section class="u-align-center u-clearfix u-section-1" id="carousel_d8af">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-expanded-width u-table u-table-responsive u-table-1">
          <table class="u-table-entity u-table-entity-1">
            <colgroup>
              <col width="20%">
              <col width="20%">
              <col width="20%">
              <col width="20%">
              <col width="20%">
            </colgroup>
            <thead class="u-custom-font u-font-courier-new u-palette-4-base u-table-header u-table-header-1">
              <tr style="height: 58px;">
                <th class="u-table-cell">Record Date</th>
                <th class="u-table-cell">Code</th>
                <th class="u-table-cell">Metals Name</th>
                <th class="u-table-cell">Buy</th>
                <th class="u-table-cell">Sell</th>
              </tr>
            </thead>
            <tbody class="u-table-body">
			{% for id,list in data_json.items() %}
		      <tr style="height: 55px;">
                <td class="u-border-1 u-border-grey-30 u-border-no-left u-border-no-right u-table-cell">{{ list[0] }}</td>
                <td class="u-border-1 u-border-grey-30 u-border-no-left u-border-no-right u-table-cell">{{ list[1] }}</td>
                <td class="u-border-1 u-border-grey-30 u-border-no-left u-border-no-right u-table-cell">{{ list[2] }}</td>
                <td class="u-border-1 u-border-grey-30 u-border-no-left u-border-no-right u-table-cell">{{ list[3] }}</td>
                <td class="u-border-1 u-border-grey-30 u-border-no-left u-border-no-right u-table-cell">{{ list[4] }}</td>
              </tr>
			{% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </section>
    
 {% endblock %}